.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.header__left {
    display: flex;
    flex: 0.25;
    align-items: center;
}

.header__left > img {
    object-fit: contain;
    width: 8rem;
}

.header__middle{
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 0.4rem;
    padding: 0.4rem;
}

.header__middle > input {
    border-style: none;
    background-color: transparent;
    width: 100%;
    padding: 0.4rem;
    outline-width: 0;
    font-size: medium;
}

.header__middle > .MuiSvgIcon-root {
    color: grey;
    padding: 0.2rem;
}

.header__right{
    
    display: flex;
    flex: 0.5;
    align-items: flex-end;
    justify-content: flex-end;
}

.header__right > * {
    margin-right: 0;
    color: lightslategray;
    padding: 0.5rem !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
    vertical-align: middle !important;
}